.ul-list{
    list-style-type: none;
}
.ul-list li a{
    text-decoration: none;
    color: black;
    padding:15px 15px;
    font-family: cursive;
    font-size:1rem;
    text-align: center;
}
.ul-list li{
    float: right;
    padding:15px;
}
.ul-list li:hover{
    background: grey;
}
button{
    background-color: grey;
    border:none;
    text-align: center;
    font-family: cursive;
    font-size: 1rem;
    padding: 15px 15px;
    display:inline-block;
    text-decoration: none;
    margin:4px 6px;
    cursor: pointer;
}
.sitename{
    float:left;
    
}

h2{
    float: left;
}
.h2{
    display: block;
}
.img{
    height:450px;
}